@import "tailwindcss";

#root{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2re;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: auto;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes scaleIn {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn 0.4s ease-out forwards;
}